@using DuxCommerce.OrchardCore
@model DuxCommerce.Storefront.Views.AdminCategory.ViewModels.CategoryEditVm

<style asp-name="@ResourceNames.StoreStyles"></style>
<style asp-name="@ResourceNames.Trumbowyg"></style>

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Category.Id" type="hidden"/>
<div class="row mb-3 form-group">
    <label class="form-label float-end" asp-for="Category.Name">@T["Name"]</label>
    <input asp-for="Category.Name" class="form-control" required/>
    <span asp-validation-for="Category.Name"></span>
</div>
<div class="row mb-3 form-group">
    <label class="form-label float-end" asp-for="Category.Description">@T["Description"]</label>
    <textarea id="categoryDescription" asp-for="Category.Description" rows="3" class="form-control"></textarea>
</div>
<div class="row mb-3 form-group">
    <label class="form-label float-end" asp-for="Category.SortOrder">@T["Sort Order"]</label>
    <input asp-for="Category.SortOrder" class="form-control" required/>
    <span asp-validation-for="Category.SortOrder"></span>
</div>
<div class="row mb-3 form-group">
    <label class="form-label" asp-for="Category.Featured" class="form-label">
        <input type="checkbox" asp-for="Category.Featured" class="check-box"/>@T["Will be featured on home page?"]
    </label>
</div>
<div class="row mb-3 form-group">
    <label class="form-label float-end" asp-for="Category.ParentId">@T["Parent Category"]</label>
    <select asp-for="Category.ParentId" asp-items="Model.CategoryListItems" class="form-control"></select>
    <span asp-validation-for="Category.ParentId"></span>
</div>

<script asp-name="@ResourceNames.Trumbowyg"></script>

<script type="text/javascript">
    $('#categoryDescription').trumbowyg();
</script>