@using DuxCommerce.OrchardCore
@using DuxCommerce.Storefront.Extensions
@using OrchardCore.ResourceManagement.TagHelpers
@model DuxCommerce.Storefront.Views.YourOrders.ViewModels.YourOrdersVm

<style asp-name="@ResourceNames.StoreStyles"></style>

<div class="row mt-3">
    <div class="col-lg-2">
        @await Html.PartialAsync("_AccountLinks", Model.AccountLinks)
    </div>
    <div class="col-lg-10">
        <div class="row">
            @if (Model.Orders?.Any() ?? false)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>@T["Order Number"]</th>
                            <th>@T["Date"]</th>
                            <th>@T["Total"]</th>
                            <th>@T["Status"]</th>
                            <th>@T["Payment"]</th>
                            <th>@T["Shipping"]</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var orderVm in Model.Orders)
                        {
                            <tr>
                                <td>@orderVm.Order.OrderNumber</td>
                                <td>@orderVm.Order.CreatedAtUtc.ToLocalTime(Model.TimeZone)</td>
                                <td>@orderVm.Order.OrderTotal.ToCurrency(orderVm.Currency)</td>
                                <td>@orderVm.Order.OrderStatus</td>
                                <td>@orderVm.Order.PaymentStatus</td>
                                <td>@orderVm.Order.ShippingStatus</td>
                                <td>
                                    <a asp-controller="YourOrders" asp-action="Details" asp-route-orderId="@orderVm.Order.Id" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="@T["View Order"]">
                                        <i class="fas fa-eye small"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <span>@T["You haven't placed any orders."]</span>
            }
        </div>
    </div>
</div>