@using DuxCommerce.OrchardCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrchardCore.ResourceManagement.TagHelpers
@model DuxCommerce.Storefront.Views.Coupon.ViewModels.LinkCategoriesVm

<style asp-name="@ResourceNames.StoreStyles"></style>

<h1>@T["Coupon"] - @Model.Coupon.Name</h1>
<div class="row">
    <form asp-action="LinkProducts" method="get">
        <input type="hidden" name="couponId" value="@Model.Coupon.Id"/>
    </form>
</div>
<div class="row">
    <form asp-action="LinkCategories" method="post">
        <input type="hidden" name="couponId" value="@Model.Coupon.Id"/>
        @await Html.PartialAsync("_CategoryPicker", Model.CategoryPicker)
        <div class="d-flex justify-content-between">
            <div>
                <a asp-action="Categories" asp-route-couponId="@Model.Coupon.Id" class="btn btn-secondary">@T["Back"]</a>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">@T["Link"]</button>
            </div>
        </div>
    </form>
</div>