@using DuxCommerce.OrchardCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrchardCore.ResourceManagement.TagHelpers
@model DuxCommerce.Storefront.Views.SharedOption.ViewModels.OptionIndexVm

<style asp-name="@ResourceNames.StoreStyles"></style>

<div asp-validation-summary="ModelOnly"></div>
<h1>@T["Shared Options"]</h1>
<div class="row mb-5">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>@T["Option Name"]</th>
                <th>@T["Display Name"]</th>
                <th>@T["Display Type"]</th>
                <th>@T["Choices"]</th>
                <th>
                    <a asp-action="Create" class="btn btn-primary float-end" role="button">@T["Add Option"]</a>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var option in Model.Options.OrderBy(x => x.DisplayOrder))
            {
                var choices = option.Choices
                    .OrderBy(x => x.DisplayOrder)
                    .ThenBy(x => x.CreatedAtUtc)
                    .Select(x => x.Name);

                <tr>
                    <td>@option.OptionName</td>
                    <td>@option.DisplayName</td>
                    <td>@option.DisplayType</td>
                    <td>@string.Join(", ", choices)</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-optionId="@option.Id" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="@T["Edit"]">
                            <i class="fas fa-pen-to-square small"></i>
                        </a>
                        <a asp-action="Delete" method="post" asp-route-optionId="@option.Id" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="@T["Delete"]" itemprop="RemoveUrl UnsafeUrl">
                            <i class="fas fa-trash-alt small"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>