@using DuxCommerce.OrchardCore
@using OrchardCore.Mvc.Core.Utilities
@model DuxCommerce.Storefront.Views.PaymentMethod.ViewModels.PaymentMethodVm

<h1>@T["Payment Methods"]</h1>
<div class="row">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="table-responsive">
        <table class="table table-hover mb-3">
            <thead>
            <tr>
                <th>@T["Name"]</th>
                <th>@T["Display Order"]</th>
                <th>@T["Enabled"]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var method in Model.Methods)
                {
                    <tr>
                        <td>@method.DisplayName</td>
                        <td>@method.DisplayOrder</td>
                        <td>
                            <input type="checkbox" name="Enabled" checked="@method.Enabled" disabled/>
                        </td>
                        <td class="text-end">
                            @{
                                if (method.Enabled)
                                {
                                    <a class="btn btn-danger btn-sm" type="button" onclick="disable('@method.MethodType')" data-bs-toggle="tooltip" data-bs-placement="top" title="@T["Disable"]">
                                        <i class="fas fa-ban small"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-primary btn-sm" type="button" onclick="enable('@method.MethodType')" value="Enable" data-bs-toggle="tooltip" data-bs-placement="top" title="@T["Enable"]">
                                        <i class="fas fa-circle-check small"></i>
                                    </a>
                                }

                                // Note: the controller may be from different module
                                var path = $"{method.SetupController}/{method.SetupAction}?methodtype={method.MethodType}";

                                if (!string.IsNullOrEmpty(method.SetupAction))
                                {
                                    <a href="@Url.GetBaseUrl()/@path" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="@T["Configure"]">
                                        <i class="fas fa-gear small"></i>
                                    </a>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<script asp-name="@ResourceNames.JQuery"></script>

<script type="text/javascript">

    function enable(methodType) {
        let token = document.querySelector('input[name="__RequestVerificationToken"]').getAttribute("value");

        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Enable")",
                data: {methodType: methodType},
                headers: { "RequestVerificationToken": token },
                success: function(data, status) {
                    window.location = `@Url.Action("Index")`
                }
            });
    }

    function disable(methodType) {
        let token = document.querySelector('input[name="__RequestVerificationToken"]').getAttribute("value");

        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Disable")",
                data: {methodType: methodType},
                headers: { "RequestVerificationToken": token },
                success: function(data, status) {
                    window.location = `@Url.Action("Index")`
                }
            });
    }

</script>