@using DuxCommerce.OrchardCore
@using DuxCommerce.Storefront.Extensions
@model DuxCommerce.Storefront.Views.Promotion.ViewModels.PromotionVm

<style asp-name="@ResourceNames.FlatPicker"></style>

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Promotion.Id" type="hidden"/>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Name">@T["Promotion Name"]</label>
    </div>
    <div class="col-md-9">
        <input asp-for="Promotion.Name" class="form-control" required/>
        <span asp-validation-for="Promotion.Name"></span>
    </div>
</div>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Type">@T["Promotion Type"]</label>
    </div>
    <div class="col-md-9" id="promotionTypeSelect">
        <select asp-for="Promotion.Type" asp-items="Model.PromotionTypes" id="promotionType" class="form-control"></select>
        <span asp-validation-for="Promotion.Type"></span>
    </div>
    <div class="col-md-9" id="promotionTypeDisplay">
        <input asp-for="Promotion.Type" type="hidden"/>
        <span>@Model.Promotion.Type</span>
    </div>
</div>
<div class="row mb-3 form-group" id="discountType">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Discount.Type">@T["Discount Type"]</label>
    </div>
    <div class="col-md-9">
        @foreach (var discount in Model.DiscountTypes)
        {
            <div class="row">
                <label>
                    <input type="radio" asp-for="Promotion.Discount.Type" id="@discount.Type" value="@discount.Type"/>@discount.Name
                </label>
            </div>
        }
        <span asp-validation-for="Promotion.Discount.Type"></span>
        <div id="amountOff" class="d-inline-flex">
            <input class="form-control w-50" asp-for="Promotion.Discount.AmountOff" type="number" min="0" step="any"/>
        </div>
        <div id="percentOff" class="d-inline-flex">
            <input class="form-control w-50" asp-for="Promotion.Discount.PercentOff" type="number" min="0" step="any"/>
        </div>
    </div>
</div>
<div class="row mb-3 form-group" id="productRule">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Rule.Product.Type">@T["Which Products?"]</label>
    </div>
    <div class="col-md-9">
        @foreach (var rule in Model.ProductRules)
        {
            <div class="row">
                <label>
                    <input type="radio" asp-for="Promotion.Rule.Product.Type" id="@rule.Type" value="@rule.Type"/>@rule.Name
                </label>
            </div>
        }
        <span asp-validation-for="Promotion.Rule.Product.Type"></span>
    </div>
</div>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Rule.Min.Type">@T["Minimum Requirements"]</label>
    </div>
    <div class="col-md-9">
        @foreach (var rule in Model.MinRules)
        {
            <div class="row">
                <label>
                    <input type="radio" asp-for="Promotion.Rule.Min.Type" id="@rule.Type" value="@rule.Type"/>@rule.Name
                </label>
            </div>
        }
        <span asp-validation-for="Promotion.Rule.Min.Type"></span>
        <div id="itemQuantityRow" class="d-inline-flex">
            <input type="number" class="form-control w-50" asp-for="Promotion.Rule.Min.ItemQuantity" min="0"/>
        </div>
        <div id="purchaseAmountRow" class="d-inline-flex">
            <input class="form-control w-50" asp-for="Promotion.Rule.Min.PurchaseAmount" type="number" min="0" step="any"/>
        </div>
    </div>
</div>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Rule.Customer.Type">@T["Which Customers?"]</label>
    </div>
    <div class="col-md-9">
        @foreach (var rule in Model.CustomerRules)
        {
            <div class="row">
                <label>
                    <input type="radio" asp-for="Promotion.Rule.Customer.Type" id="@rule.Type" value="@rule.Type"/>@rule.Name
                </label>
            </div>
        }
        <span asp-validation-for="Promotion.Rule.Customer.Type"></span>
    </div>
</div>
<div class="row mb-3 form-group" id="countryRule">
    <div class="col-md-3">
        <label class="form-label float-end" asp-for="Promotion.Rule.Country.Type">@T["Which Countries?"]</label>
    </div>
    <div class="col-md-9">
        @foreach (var rule in Model.CountryRules)
        {
            <div class="row">
                <label>
                    <input type="radio" asp-for="Promotion.Rule.Country.Type" id="@rule.Type" value="@rule.Type"/>@rule.Name
                </label>
            </div>
        }
        <span asp-validation-for="Promotion.Rule.Country.Type"></span>
    </div>
</div>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end">@T["Usage Restriction"]</label>
    </div>
    <div class="col-md-9">
        <div>
            <label class="d-inline-block">
                <input type="checkbox" asp-for="Promotion.Rule.Usage.LimitStoreUsage" id="limitStoreUsage" class="check-box"/>
                @T["Limit number of uses per store"]
            </label>
        </div>
        <div id="storeLimit" class="d-inline-flex mb-3">
            <input type="number" class="form-control w-50" asp-for="Promotion.Rule.Usage.StoreLimit" min="0"/>
            <span>@T["times"]</span>
        </div>
        <div>
            <label>
                <input type="checkbox" asp-for="Promotion.Rule.Usage.OneUsePerCustomer" class="check-box"/>
                @T["Limit to one use per customer"]
            </label>
        </div>
    </div>
</div>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end">@T["Duration"]</label>
    </div>
    <div class="col-md-9">
        <div class="mb-3">
            <label asp-for="Promotion.Rule.Time.StartTime">@T["Start time"]</label>
            <input type="text" class="form-control w-25" name="Promotion.Rule.Time.StartTime" id="startTime"/>
            <span asp-validation-for="Promotion.Rule.Time.StartTime"></span>
        </div>
        <div>
            <label asp-for="Promotion.Rule.Time.EndTime">@T["End time"]</label>
            <input type="text" class="form-control w-25" name="Promotion.Rule.Time.EndTime" id="endTime"/>
            <span asp-validation-for="Promotion.Rule.Time.EndTime"></span>
        </div>
    </div>
</div>
<div class="row mb-3 form-group">
    <div class="col-md-3">
        <label class="form-label float-end">@T["Activate This Promotion?"]</label>
    </div>
    <div class="col-md-9">
        <div class="input-group">
            <label>
                <input type="checkbox" asp-for="Promotion.Activated" class="check-box"/>
                @T["Yes, make this promotion available to customers"]
            </label>
        </div>
    </div>
</div>

<script asp-name="@ResourceNames.FlatPicker"></script>
<script>
    flatpickr("#startTime", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        defaultDate: "@Model.Promotion.Rule.Time.StartTime.ToLocalTime(Model.TimeZone).ToString("yyyy-MM-dd HH:mm")"
    });
    
    flatpickr("#endTime", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        defaultDate: "@Model.Promotion.Rule.Time.EndTime.ToLocalTime(Model.TimeZone).ToString("yyyy-MM-dd HH:mm")"
    });
</script>

<script asp-name="@ResourceNames.JQuery"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $.fn.hide = function () {
          this.addClass('d-none');
        }    
            
        $.fn.show = function () {
          this.removeClass('d-none');
        }
        
        function renderPromotionType() {
            let promotionTypeSelect = $("#promotionTypeSelect");
            let promotionTypeDisplay = $("#promotionTypeDisplay");
            
            let promotionId = $("#@Html.IdFor(m => m.Promotion.Id)").val();
            
            if (promotionId) {
                promotionTypeSelect.hide();
                promotionTypeDisplay.show();
            } else {
                promotionTypeSelect.show();
                promotionTypeDisplay.hide();            
            }
        }
        
        function renderPromotionInputs(promotionType) {
            renderPromotionType();
            
            let discountType = $("#discountType");
            let productRule = $("#productRule");
            let countryRule = $("#countryRule");
            
            switch (promotionType) {
                case "ProductPromotion":
                    discountType.show();
                    productRule.show();
                    countryRule.hide();
                    
                    break;
                case "OrderPromotion":
                    discountType.show();
                    productRule.hide();
                    countryRule.hide();
                    
                    break;
                default: // ShippingPromotion
                    discountType.hide();
                    productRule.hide();
                    countryRule.show();
                    
                    break;
            }
        }
        
        function renderDiscountInputs(discountType) {
            let percentOff = $("#percentOff");
            let amountOff = $("#amountOff");
            
            if(discountType === "PercentOff") {
                percentOff.show();
                amountOff.hide();
            } else {
                percentOff.hide();
                amountOff.show();
            }
        }
        
        function renderMinInputs(minType) {
            let itemQuantityRow = $("#itemQuantityRow");
            let purchaseAmountRow = $("#purchaseAmountRow");
            
            if(minType === "ItemQuantity") {
                itemQuantityRow.show();
                purchaseAmountRow.hide();
            } else if (minType === "PurchaseAmount") {
                itemQuantityRow.hide();
                purchaseAmountRow.show();
            } else {
                itemQuantityRow.hide();
                purchaseAmountRow.hide();
            }
        }
        
        function renderUsageInput(display) {
            let storeLimit = $("#storeLimit");
            
            if (display) {
                storeLimit.show();
            } else {
                storeLimit.hide();
            }        
        }
        
        
        $('#promotionType').change(function() {
            let promotionType = $(this).val();
            renderPromotionInputs(promotionType);
        });
        
        $("input[name='Promotion.Discount.Type']").click(function(){
            let discountType = $("input[name='Promotion.Discount.Type']:checked").val();
            renderDiscountInputs(discountType);
        });
        
        $("input[name='Promotion.Rule.Min.Type']").click(function(){
            let minType = $("input[name='Promotion.Rule.Min.Type']:checked").val();
            renderMinInputs(minType);
        });
        
        $("#limitStoreUsage").change(function () {
            renderUsageInput(this.checked);        
        });
        
        
        renderPromotionInputs("@Model.Promotion.Type");
        
        renderDiscountInputs("@Model.Promotion.Discount?.Type");
        
        renderMinInputs("@Model.Promotion.Rule.Min.Type");
        
        renderUsageInput(true);
    });
</script>