@model DuxCommerce.Storefront.Views.ProductOption.ViewModels.PrivateOptionVm

<h1>@T["Add Option"]</h1>
<form asp-action="Create" asp-route-productId="@Model.ProductId" method="post" enctype="multipart/form-data">
    <input asp-for="ProductId" type="hidden"/>
    @await Html.PartialAsync("_Option", Model)
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="Index" asp-route-productId="@Model.ProductId" class="btn btn-secondary">@T["Cancel"]</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">@T["Save"]</button>
        </div>
    </div>
</form>